body
{
    display: flex;
    justify-content: center;
    
}

.container
{
    width: 1400px !important;
    display: flex;
    flex-direction: column;
    position: relative;
}
.nav
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.logo
{
    width: 40%;
    font-size: 38px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-weight: 500;
    text-shadow: 3px 3px 17px;
}

.option
{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    padding-right: 20px;
}

.op
{
    width: calc(100%/6);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 3PX;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.op-roll
{
   
    width: calc(100%/6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 3PX;
    position: relative;
    text-decoration: none;
    color: black;

}

.rolled
{
   height: 200px;
   position: absolute;
   top: 79px;
   z-index: 1;
   background-color:rgba(41, 41, 41, 0.658) ;
   width: 160px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: aliceblue;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
  display: none;
}


.roll
{
   display: flex;
   width: 100%;
   height: 70%;
   align-items: center;
   justify-content: center;
   margin:3px 0;
   color: aliceblue;
    text-decoration: none;
    
}

.op-roll:focus + .roll
{
z-index: 3;
}

.op-roll:focus + .rolled
{
 height: 200px;
 padding: 20px 0;
 display:flex ;
}


.roll:hover
{
   background-color:rgba(41, 41, 41, 0.849) ;
}
.op>img
{
    height: 17px;
}

.op:hover
{
    background-color: rgba(150, 150, 150, 0.089);
    cursor: pointer;
}

.head
{
    
    width: 100%;
    padding: 0 0 14% 0;
    background-image: url('pic/il_fullxfull.3889837707_ipxe.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
   
}

.intro
{
    position:relative ;
    top: 32%;
    width: 35%;
    height: 50%;
    padding: 8%;
    background-color: rgba(24, 24, 24, 0.555);
    margin-left: 20px;
    border-radius: 4px;
    color: aliceblue;
    flex-direction: column;
    


}

h1{
    font-size: 35px;
    letter-spacing: 6px;
}
#intro-p
{
    max-width: 350px;
    font-weight: 300;
    font-size: 19px;
    font-family: Raleway;
}
.intro>input[type="submit"]
 {
    height: 60px;
    width: 30%;
    background-color: black;
    color: aliceblue;
    letter-spacing: 3px;
    
 }

 .intro>input[type="submit"]:hover
 {
   background-color: rgba(0, 0, 0, 0.103);
   cursor: pointer;
   
 }

 .quote
 {
    width: 100%;
    height: 350px;
    background-color:rgba(211, 211, 211, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }

 .quote>p
 {
    padding: 0px 300px;
    
 }

 .quote>img
 {
    width:20%;
 }

 .main
 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }

 .square
 {
    width: 50%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 600px;
    
    
 }
 .square>img
 {
    width: 100%;
    height: 100%;
 }

 .sq-box
 { display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    max-height: 300px;
    max-width: 350px;
    
    
 }
 .content
 {
   padding: 40px;
   max-height: 300px;
    max-width: 350px;
    width: 100%;
    height: 100%;
 }

 h2
 {
    letter-spacing: 2px;
 }

 .content>p
 {
    font-size: 19px;
 }

 .content>input[type="submit"]
 {
    padding: 10px 20px;
    background-color: black;
    color:aliceblue;
 }

 .content>input[type="submit"]:hover
 {
   background-color: rgba(0, 0, 0, 0.712);
   cursor: pointer;
 }

 .sq-box>img
 {
   height: 100%;
   width: 100%;
 }

 .footer
 {
    width: 100%;
    height: 370px;
    background-color: rgb(77, 76, 76);
    display: flex;
    align-items: space-around;
 }

 .foot
 {
   width: 25%;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   color: aliceblue;
   flex-wrap: wrap;
   padding: 10px 70px ;
 }

.foot input[type="text"]
{
height: 30px;
width: 70%;
}

.foot input[type="submit"]
{
height: 36px;
width: 20%;
color:aliceblue;
background-color: rgb(59, 59, 59);
}

/* <<-----------------elements------------------>> */
.head-elements
{
   width: 100%;
   position: relative;
   padding: 50px 0 200px 0;
   
}

.pic1
{
   position: relative;
   top:9%;
   left: 14%;
   z-index: 2;
   width: 30%;
}

.pic2
{
   position: relative;
   top:-8%;
   left: 15%;
   z-index: 2;
   width: 16%;
}

.pic3
{
   position: relative;
   top:-8%;
   left: 16%;
   z-index: 2;
   width: 13%;
}

.pic4
{
   position: relative;
   top:40%;
   left: -14.7%;
   z-index: 2;
   width: 22%;
}

.shadow
{
   position: relative;
   background-color: rgba(63, 63, 63, 0.527);
   height: 78%;
   width: 70%;
   top: -56%;
   left: 30%;
}

.head-elements>p
{
   position: relative;
   width: 400px;
   z-index: 2;
   top:10%;
   left: 14%;
   
}
.head-elements>h2
{
   position: relative;
   top:10%;
   left: 14%;
   z-index: 2;
}

