body
{
    display: flex;
    justify-content: center;
    
}

.container
{
    width: 1400px !important;
    display: flex;
    flex-direction: column;
    position: relative;
}
.nav
{
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.logo
{
    width: 40%;
    font-size: 38px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-weight: 500;
    text-shadow: 3px 3px 17px;
}

.option
{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    padding-right: 20px;
}

.op
{
    width: calc(100%/6);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 3PX;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.op-roll
{
   
    width: calc(100%/6);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 3PX;
    position: relative;
    text-decoration: none;
    color: black;

}

.rolled
{
   height: 0px;
   position: absolute;
   z-index: 1;
   top: 79px;
   background-color:rgba(41, 41, 41, 0.658) ;
   width: 160px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: aliceblue;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   overflow: hidden;
}



.roll
{
   display: flex;
   width: 100%;
   height: 70%;
   align-items: center;
   justify-content: center;
   margin:3px 0;
   color: aliceblue;
    text-decoration: none;
    
}

.op-roll:focus + .rolled
{
 height: 200px;
 padding: 20px 0;
}

.rolled:active + .roll
{
   display: flex;
   width: 100%;
   height: 70%;
   align-items: center;
   justify-content: center;
   margin:3px 0;
   color: aliceblue;
}


.roll:hover
{
   background-color:rgba(41, 41, 41, 0.849) ;
}
.op>img
{
    height: 17px;
}

.op:hover
{
    background-color: rgba(150, 150, 150, 0.089);
    cursor: pointer;
}

.head
{
    
    width: 100%;
    height: 720px;
    background-image: url('pic/il_fullxfull.3889837707_ipxe.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px ;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    
    
}

.intro
{
    position:absolute ;
    display: flex;
    top: calc(100%/3);
    width: 35%;
    padding: 90px;
    background-color: rgba(24, 24, 24, 0.555);
    margin-left: 20px;
    border-radius: 4px;
    color: aliceblue;
    flex-direction: column;
    


}

h1{
    font-size: 35px;
    letter-spacing: 6px;
}
#intro-p
{
    max-width: 350px;
    font-weight: 300;
    font-size: 19px;
    font-family: Raleway;
}
.intro>input[type="submit"]
 {
    height: 60px;
    width: 30%;
    background-color: black;
    color: aliceblue;
    letter-spacing: 3px;
    
 }

 .intro>input[type="submit"]:hover
 {
   background-color: rgba(0, 0, 0, 0.103);
   cursor: pointer;
   
 }

 .quote
 {
    width: 100%;
    height: 350px;
    background-color:rgba(211, 211, 211, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
 }

 .quote>p
 {
    padding: 0px 300px;
    
 }

 .quote>img
 {
    width:20%;
 }

 .main
 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 }

 .square
 {
    width: 50%;
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 600px;
    
    
 }
 .square>img
 {
    width: 100%;
    height: 100%;
 }

 .sq-box
 { display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    max-height: 300px;
    max-width: 350px;
    
    
 }
 .content
 {
   padding: 40px;
   max-height: 300px;
    max-width: 350px;
    width: 100%;
    height: 100%;
 }

 h2
 {
    letter-spacing: 2px;
 }

 .content>p
 {
    font-size: 19px;
 }

 .content>input[type="submit"]
 {
    padding: 10px 20px;
    background-color: black;
    color:aliceblue;
 }

 .content>input[type="submit"]:hover
 {
   background-color: rgba(0, 0, 0, 0.712);
   cursor: pointer;
 }

 .sq-box>img
 {
   height: 100%;
   width: 100%;
 }

 .footer
 {
    width: 100%;
    height: 340px;
    background-color: rgb(77, 76, 76);
 }
